<div class="row">
  <div class="col-xs-12">
    <div data-current-id='<%= @current_selection.song.uid %>' id="player"></div>
  </div>

  <% @playlist.selections.each.with_index(1) do |selection, i| %>
  <div data-id='<%= selection.id %>' class="col-xs-6">
    <%= element_for_selection(selection, i) %>
  </div>
  <% end %>
</div>
