---
http_interactions:
- request:
    method: get
    uri: https://gdata.youtube.com/feeds/api/videos?alt=json&q=sflkjdsflkjdslkfdjldksj%20Karaoke&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - application/json; charset=UTF-8
      Gdata-Version:
      - '2.1'
      Etag:
      - W/"A0MMQXY_eip7I2A9XRZWGU0."
      Last-Modified:
      - Mon, 21 Jul 2014 02:24:40 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"version":"1.0","encoding":"UTF-8","feed":{"xmlns":"http://www.w3.org/2005/Atom","xmlns$openSearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns$gd":"http://schemas.google.com/g/2005","gd$etag":"W/\"A0MMQXY_eip7I2A9XRZWGU0.\"","id":{"$t":"tag:youtube.com,2008:videos"},"updated":{"$t":"2014-07-21T02:24:40.842Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"}],"title":{"$t":"Videos
        matching: sflkjdsflkjdslkfdjldksj Karaoke"},"logo":{"$t":"http://www.gstatic.com/youtube/img/logo.png"},"link":[{"rel":"alternate","type":"text/html","href":"https://www.youtube.com"},{"rel":"http://schemas.google.com/g/2005#feed","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?v=2"},{"rel":"http://schemas.google.com/g/2005#batch","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos/batch?v=2"},{"rel":"self","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=json&q=sflkjdsflkjdslkfdjldksj+Karaoke&start-index=1&max-results=25&v=2"},{"rel":"service","type":"application/atomsvc+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=atom-service&v=2"}],"author":[{"name":{"$t":"YouTube"},"uri":{"$t":"http://www.youtube.com/"}}],"generator":{"$t":"YouTube
        data API","version":"2.1","uri":"http://gdata.youtube.com"},"openSearch$totalResults":{"$t":0},"openSearch$startIndex":{"$t":1},"openSearch$itemsPerPage":{"$t":25}}}'
  recorded_at: Mon, 21 Jul 2014 02:24:39 GMT
recorded_with: VCR 2.9.2
